.modal-header-popupModal {
  left: 50px;
  top: 17px;
  white-space: nowrap;
  line-height: 67px;
  text-align: left;
  font-family: Segoe UI, Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(207, 35, 56, 1);
  background-color: rgba(239, 241, 245, 1);
}
.modal-header-popupModal > .modal-title {
  width: 100%;
}

.modal-body-popupModal {
  background-color: rgba(250, 252, 252, 1);
  stroke: rgba(33, 37, 41, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  border: 0 none;
}

.modal-label-popupModal {
  position: absolute;
  left: 4px;
  top: 5px;
  margin-top: 7px;
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica Neue, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(33, 37, 41, 1);
  background-color: rgba(250, 252, 252, 1);
}

.modal-input-popupModal {
  background-color: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 25px;
  left: 90px;
  top: 0px;
}

.modal-save-button-popupModal {
  margin-top: 25px;
  margin-left: 130px;
}

.modal-cancel-button-popupModal {
  margin-top: 25px;
  margin-left: 15px;
}

#newpwd {
  position: relative;
}
#newpwd > i {
  position: absolute;
  top: 28%;
  right: 6%;
}
#newpwd > i:hover {
  color: #00fcb6;
  cursor: pointer;
}
